<ion-content [fullscreen]="true">
  <img src="../../assets/Group_25.png" alt="">

  <div class="list ion-padding">
    <button (click)="wishlist()">
      <img src="../../assets/iconhome/wishlist_icon.png" alt="">
      <h5>Wishlist <br>
        <label>a list of things you want </label>
      </h5>
    </button>

    <button style="margin-top: 25px;" (click)="todolist()">
      <img src="../../assets/iconhome/todolist_icon.png" alt="">
      <h5>To Do List <br>
        <label>a list of things to do</label>
      </h5>
    </button>

    <button style="margin-top: 25px;" (click)="note()">
      <img src="../../assets/iconhome/notes_icon.png" alt="">
      <h5>Note <br>
        <label>just random things you always forget</label>
      </h5>
    </button>
  </div>

</ion-content>
